@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  //-webkit-touch-callout: none;
  // -webkit-user-select: none;
  -webkit-text-size-adjust: 100%;
  // -webkit-user-drag: none;
}
html,body {
  /*background:#F5F5F5!important;*/
  // font-family: "微软雅黑","Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
}
h1, h2, h3, h4, h5, h6{font-weight: normal!important;line-height:1;}
ul,ol {list-style: none; margin: 0;}
a{text-decoration: none; outline: none;}
// img{width:100%;}
*:focus {outline: none;}
body{height:100%;font-size:14px;}
button{font-size:14px;}
/*vueJs防止闪烁*/
[v-cloak]{  display: none !important; }
body,a,h1,h2,h3,h4,h5,h6,p,span,strong,i,em,label,div,ul,li,dl,dt,ol{
  margin: 0;
  padding: 0;
 // user-select: none;
}
li,ul,ol{list-style: none}
/*清除浮动*/
.clearfloat:after{
  display:block;
  clear:both;
  content:"";
  visibility:hidden;
  height:0
}
.clearfloat{zoom:1 }

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #666;
}

.content-wrap{
  padding: 0.1rem 0.2rem;
}
html{
  overflow:hidden;
}
a{
  color: #666;
  text-decoration: none;
}
/** icons **/
.icon-arrow-down:after { content: "\E615"; }
// 字体大小
$font-size01:12px;
$font-size02: 14px;
$font-size03:16px;
//字体颜色
$font-color01:#344750;
$font-color02:#666;
$font-color03:#999;
$font-color04:#333;

$font-color06:#fff;
$font-color07:#969696;
// 搜索框
.search-wrap{
  margin:28px 20px 0 20px;
  .title{
    font-size:$font-size02;
    color:$font-color02;
    margin-right:12px;
  }
  .search-btn{
    width:50px;
    height:32px;
    background:linear-gradient(90deg,rgba(252,148,116,1),rgba(251,116,95,1));
    border-radius: 4px ;
    font-size:$font-size02;
    color:rgba(255,255,255,1);
    line-height:14px;
    margin-left:20px;
    cursor: pointer;
  }
}

//外框
.wrap-margin{
  margin:20px;
  background:$font-color06;
  table{
    thead{
      tr{
        th{
          background: #96ABB5;
        }
      }
    }
    tbody{
      tr{
        td{
          color:#333;
        }
      }
    }
  }


}
// 表格
//.table-wrap{
//  width:100%;
//  border:1px solid red;
//  th{
//    height:40px;
//    background:rgba(150,171,181,1);
//  }
//
//  tr{
//    height:50px;
//    background:rgba(255,255,255,0.1);
//  }
//
//}
.el-table th{
  background: #96ABB5;
  color:$font-color06;
  font-size:$font-size01;
}
.el-table td{
  color:$font-color07;
  font-size:$font-size01;
}
.el-main{
  overflow-x:hidden;
}
.page-wrap{
  margin:20px 35px;
  text-align: right;
}
.location{
  height:60px;
  line-height:60px;
  font-size:$font-size02;
  color:$font-color04;
  padding-left:39px;
  .grey{
    color:$font-color03;
    font-size:$font-size02;
  }
}
.wrap-padding{
  padding:30px;
  border-radius: 8px ; 
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
input,button,select,textarea{outline:none}
.btn,.publish-btn,.gray-btn{
  width:100px;
  height:36px;
  background:linear-gradient(90deg,rgba(252,148,116,1),rgba(251,116,95,1));
  border-radius: 4px ;
  color:#fff;
  font-size:16px;
  display: block;
  line-height: 36px;
  color:#fff;
  text-align:center;
  margin-left:20px;
  float:left;
  cursor: pointer;
}
.gray-btn{
  background:gray;
}
.tag{
  font-size:12px;
  color:#B3B3B3;
  line-height:12px;
  margin:19px 0 9px 0;
}
.link-a{
  padding-right: 10px;
  color: #305da1;
  cursor: pointer;
  display: inline-block;
  padding: 2px 5px;
  &:hover{
    color:#FD782D;
  }
}

.link-status{
  display: inline-block;
  padding: 2px 5px;
  color:#FD782D;
  cursor: pointer;
}
.add-btn{
  width:114px;
  height:32px;
  background:linear-gradient(90deg,rgba(252,148,116,1),rgba(251,116,95,1));
  border-radius: 100px ;
  color:#fff;
  display: inline-block;
  text-align: center;
  line-height: 32px;
  float:right;
}

  .publish-btn{
    background:none;
    color:#FD782D;
    margin-left:30px;
    border:1px solid #FB745F;

  }
  .img-item{
    float:left;
    margin-right:10px;
  }
  .link-b{
    border:none;
    background: none;
    color: #96ABB5;
    font-size:12px;
  }
  .el-menu{
    border:none;
  }
  .el-checkbox {
    padding-right: 30px;
}
  .el-checkbox+.el-checkbox {
    margin-left: 0px; 
  }
  .detele-btn{
    display:inline-block;
    float:right;
    top: 0;
    position: relative;
    cursor: pointer;
    width:50px;
    height:32px;
    background:linear-gradient(90deg,rgba(252,148,116,1),rgba(251,116,95,1));
    border-radius: 4px ;
    font-size:$font-size02;
    color:rgba(255,255,255,1);
    line-height:32px;
    text-align: center;
    margin-right:1rem;
  }
   .newadd-btn{
     float:right;
    display: inline-block;
    position: relative;
    top: 0;
    cursor: pointer;
    min-width:50px;
    padding:0 8px;
    height:32px;
    background-color:#67c23a;
    border-radius: 4px ;
    font-size:$font-size02;
    color:rgba(255,255,255,1);
    line-height:32px;
    text-align: center;
  }